
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <i class="fa-solid fa-address-card fa-bounce fa-lg me-3" style="color: #e6e6e6;"></i>
           <span class="p">CONTACT MANAGER SYSTEM</span> 
          </a>
        </div>
      </nav>
</body>
</html>